<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/mbsoftlab/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mbsoftlab" />
            <add key="ClearTextPassword" value="1d7e79f01516e9ca567e6dd2a874a034e6d5f716" />
        </github>
    </packageSourceCredentials>
</configuration>